@import "trello/variables";

// Make sidebar buttons looks like links

.window-sidebar h3 {
  font-weight: 500;
}

.window-sidebar .button-link {
  background: none;
  border: none;
  font-weight: 400;
  height: auto;
  margin-top: $vertical-margin;
  padding: 0;
}

.window-sidebar .button-link:hover,
.window-sidebar .button-link:hover .icon-sm {
  color: #222;
}
