// Make sidebar buttons looks like links

.window-sidebar h3 {
  font-weight: 500;
}

.window-sidebar .button-link {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-weight: 400;
  height: auto;
  margin-top: 10px;
  padding: 0;
}

.button-link .on {
  background-color: transparent;
  color: #61bd4f;
  padding: 0;
  top: 0;
}

.button-link:hover .on {
  background-color: transparent;
}

.window-sidebar .button-link:hover,
.window-sidebar .button-link:hover .icon-sm {
  color: #222;
}
