// Make card badges light, and only textual
// Review date: 2018-05-16

.badge {
  padding: 0;
}

.badge.is-due-soon,
.badge.is-due-now,
.badge.is-due-past,
.badge.is-due-complete,
.badge.is-unread-notification,
.badge.is-complete {
  background-color: transparent;
  border-radius: 0;
}

.badge.is-due-soon,
.badge.is-due-soon .badge-icon {
  color: #E6C60D
}

.badge.is-due-now,
.badge.is-due-now .badge-icon {
  color: #CF513D;
}

.badge.is-due-past,
.badge.is-due-past .badge-icon {
  color: #EC9488;
}

.badge.is-due-complete,
.badge.is-due-complete .badge-icon {
  color: #61BD4F;
}

.badge.is-unread-notification,
.badge.is-unread-notification .badge-icon {
  color: #CF513D;
}

.badge.is-complete,
.badge.is-complete .badge-icon {
  color: #61BD4F;
}
