// Replace default Trello board background colors

*[style*="rgb(0, 121, 191)"],
*[style*="#0079BF"] {
  background-color: #2980b9 !important;
}

*[style*="rgb(210, 144, 52)"],
*[style*="#D29034"] {
  background-color: #f39c12 !important;
}

*[style*="rgb(81, 152, 57)"],
*[style*="#519839"] {
  background-color: #27ae60 !important;
}

*[style*="rgb(176, 70, 50)"],
*[style*="#B04632"] {
  background-color: #c0392b !important;
}

*[style*="rgb(137, 96, 158)"],
*[style*="#89609E"] {
  background-color: #8e44ad !important;
}

*[style*="rgb(205, 90, 145)"],
*[style*="#CD5A91"] {
  background-color: #34495e !important;
}

*[style*="rgb(75, 191, 107)"],
*[style*="#4BBF6B"] {
  background-color: #1abc9c !important;
}

*[style*="rgb(0, 174, 204)"],
*[style*="#00AECC"] {
  background-color: #3498db !important;
}

*[style*="rgb(131, 140, 145)"],
*[style*="#838C91"] {
  background-color: #95a5a6 !important;
}
