.board-header-btn.mod-show-menu {
  opacity: 1;
  transition: all 0.1s;
  visibility: visible;
}

.board-wrapper.is-show-menu .board-header-btn.mod-show-menu {
  opacity: 0;
  visibility: hidden;
}

#classic, #classic-body {
  z-index: 2;
}

.distinct-list .list-card {
  margin-top: 0;
}
