// Make buttons blue instead of green

.button,
button,
input[type=button],
input[type=submit] {
  &.primary {
    background: #4181F2;
    border: 1px solid #2762CA;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    color: #fff;

    &:hover,
    &:focus {
      background: #4f8af3;
    }

    &:active {
      background: #4181F2;
    }
  }
}
