// Apply light theme for all boards

#content {
  background: #E1E1E1;
}

.body-board-view::after,
.body-board-view::before {
  background: inherit;
  bottom: 0;
  content: '';
  height: 50vh;
  left: 0;
  position: fixed;
  width: 80vw;
  z-index: 1;
}

$transparent-width: 30%;

.body-board-view::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  opacity: 0.5;
}

.body-board-view::after {
  clip-path: polygon(0 $transparent-width, 0 100%, (100% - $transparent-width) 100%);
}

.board-wrapper {
  z-index: 2;
}

.icon-lg.light,
.icon-lg.light-hover:hover,
.icon-sm.light,
.icon-sm.light-hover:hover,
.light-hover:hover .icon-lg,
.light-hover:hover .icon-sm {
  color: inherit;
}

.board-header-btn,
.board-header-btn:hover,
.board-header-btn-icon,
.board-header-btn.board-header-btn-enabled .board-header-btn-icon.icon-star {
  color: #222;
}

.board-header-btn-filter-indicator {
  background: rgba(0,0,0,0.12);
  color: #222;
  padding-left: 26px;
  padding-right: 26px;

  .board-header-btn-icon {
    color: #222;
  }

  .board-header-btn-text {
    padding-right: 0;
    text-decoration: none;
  }

  .board-header-btn-icon-close {
    background: none;
    color: #222;
  }
}

.board-header-btn-filter-indicator:hover {
  background: rgba(0,0,0,0.3) !important;
  color: #222;

  .board-header-btn-icon-close {
    background: none;
    color: #222;

    &:hover {
      background: rgba(#fff, 0.3);
    }
  }
}
