// Calibrate paddings in cards and card list blocks

.list-header,
.list-card-details,
.open-card-composer {
  padding: 10px 12px;
}

.list-cards {
  margin: 0;
  padding: 0;
}

.distinct-list .list-card {
  margin-top: 0;
}

// Align card and list action buttons

.list-header-extras,
.list-card-operation {
  right: 6px;
  top: 6px;
}

// Size down header title

.list-header h2 {
  font-size: 14px;
}

// Fix hided card height

.list-card.hide {
  min-height: 0;
  border: none;
}
