#header,
.body-board-view #header {
  background: none;
  border-bottom: none;
}

.body-custom-board-background #header {
  background: rgba(0,0,0,.24);
}

.header-btn {
  background: #fff;
  color: #202528;
}

.header-btn:hover {
  color: #202528;
}

.header-btn.new-notifications {
  background: none;
  color: #EB5A46;
}

input[type=text].header-search-input,
input[type=text].header-search-input:hover {
  background-color: #fff;
}
