.button.primary,
button.primary,
input[type=button].primary,
input[type=submit].primary {
  background: #4181F2;
  border: 1px solid;
  border-color: #2762CA;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  color: #fff;
  font-size: 12px;
}

.button.primary:hover,
button.primary:focus,
button.primary:hover,
input[type=button].primary:focus,
input[type=button].primary:hover,
input[type=submit].primary:focus,
input[type=submit].primary:hover {
  background: #4f8af3;
}

.button.primary:active,
button.primary:active,
input[type=button].primary:active,
input[type=submit].primary:active {
  background: #4181F2;
}

.button.wide,
button.wide,
input[type=button].wide,
input[type=submit].wide {
  padding-left: 15px;
  padding-right: 15px;
}

.button,
button,
input[type=button],
input[type=submit] {
  padding: 3px 15px;
}
