.button,
button,
input[type=button],
input[type=submit] {
  padding: 3px 15px;

  &.primary {
    background: #4181F2;
    border: 1px solid;
    border-color: #2762CA;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    color: #fff;
    font-size: 12px;

    &:hover,
    &:focus {
      background: #4f8af3;
    }

    &:active {
      background: #4181F2;
    }
  }

  &.wide {
    padding-left: 15px;
    padding-right: 15px;
  }
}
