@import "../../trello/mixins/scrollbar";

.window-overlay {
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.window-up .window-overlay {
  opacity: 1;
  pointer-events: all;
}

.window {
  @include scrollbar;
  background-color: #E9EDF2;
}

.window-cover {
  border-bottom: 1px solid #C6CACE;
  box-shadow: none;
}

.window-sidebar {
  h3 {
    font-weight: 500;
  }

  .button-link {
    background: none;
    border: none;
    font-weight: 400;
    height: auto;
    margin-top: 12px;
    padding: 0;

    &:hover,
    &:hover .icon-sm {
      color: #222;
    }
  }
}

@media only screen and (min-width: 1601px) {
  .board-wrapper {
    transition: right 1.5s;
    will-change: right;
  }

  .window-overlay {
    justify-content: flex-end;
    background-color: rgba(255,255,255,0);
  }

  .window {
    border-radius: 0;
    border-left: 1px solid #C6CACE;
    height: calc(100vh - 41px);
    margin: 41px 0 0;
    overflow-y: auto;
    width: 750px;
  }

  .card-detail-window {
    min-height: 100vh;
  }

  .window-up .board-wrapper {
    right: 750px;
  }

  .window-up .window-overlay {
    pointer-events: none;
  }

  .window-up .window {
    pointer-events: all;
  }
}
