@mixin scrollbar($track-color: #D6DADC, $thumb-color: #7A7D7E) {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;

    &:end:increment,
    &:start:decrement {
      background: 0 0;
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    &:horizontal,
    &:vertical {
      background-clip: padding-box;
      background-color: rgba($thumb-color, 0.25);
      border-radius: 8px;
      border: 1px solid transparent;
      display: block;
      height: 50px;
    }

    &:hover {
      background-color: rgba($thumb-color, 0.35);
    }
  }

  &::-webkit-scrollbar-track-piece {
    background: $track-color;

    &:vertical:start   { border-radius: 5px 5px 0 0; }
    &:vertical:end     { border-radius: 0 0 5px 5px; }
    &:horizontal:start { border-radius: 5px 0 0 5px; }
    &:horizontal:end   { border-radius: 0 5px 5px 0; }
  }
}
