// Sort and align card detail blocks

.list-card-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: visible;
}

.list-card-title {
  margin: 0;
  order: 1;
  width: 100%;
}

.badges {
  align-self: center;
  order: 2;
  padding: 0;
}

.badges .badge {
  margin: 3px 4px 0 0;
}

.list-card-members {
  order: 3;
}

.list-card-members .member {
  margin: 3px 0 0 4px;
}

.list-card-labels {
  margin: 0;
  order: 4;
  width: 100%;
}

.list-card-labels .card-label.mod-card-front {
  border-radius: 4px;
  float: right;
  height: 4px;
  margin: 3px 0 0 3px;
  width: 8px;
}

// Move card cover down, under details

.list-card.is-covered {
  display: flex;
  flex-flow: column nowrap;
}

.list-card.is-covered .list-card-details {
  order: 1;
  padding-bottom: 0;
}

.list-card.is-covered .list-card-cover {
  margin-top: 3px;
  order: 2;
}

// Hide hided card completely

.list-card.hide {
  .list-card-cover,
  .list-card-details,
  .list-card-operation {
    display: none;
  }
}
