// Sort and align card detail blocks

.list-card-details {
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
          box-orient: vertical;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  overflow: visible;
}

.list-card-title {
  -webkit-box-ordinal-group: 1;
     -moz-box-ordinal-group: 1;
          box-ordinal-group: 1;
  margin: 0;
}

.badges {
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
          box-ordinal-group: 2;
  padding: 0;
}

.badges .badge {
  margin: 3px 4px 0 0;
}

.list-card-labels {
  -webkit-box-ordinal-group: 3;
     -moz-box-ordinal-group: 3;
          box-ordinal-group: 3;
  margin: 0;
}

.list-card-labels .card-label.mod-card-front {
  margin: 3px 3px 0 0;
}

.list-card-members {
  -webkit-box-ordinal-group: 4;
     -moz-box-ordinal-group: 4;
          box-ordinal-group: 4;
}

.list-card-members .member {
  float: left;
  margin: 3px 4px 0 0;
}

// Move card cover down, under details

.list-card.is-covered {
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
          box-orient: vertical;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
}

.list-card.is-covered .list-card-details {
  -webkit-box-ordinal-group: 1;
     -moz-box-ordinal-group: 1;
          box-ordinal-group: 1;
  padding-bottom: 0;
}

.list-card.is-covered .list-card-cover {
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
          box-ordinal-group: 2;
  margin-top: 3px;
}

// Hide hided card completely

.list-card.hide {
  .list-card-cover,
  .list-card-details,
  .list-card-operation {
    display: none;
  }
}
