@import "trello/variables";

// Stylize adding list button and form

.list-wrapper.mod-add {
  background: #F1F1F1;
  border-radius: 3px;
  border: 1px solid #BBBBBB;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  padding: 0;
}

.list-wrapper.mod-add .placeholder {
  color: #222;
  padding: $vertical-margin $horizontal-margin;
}

.list-wrapper.mod-add .list-name-input {
  background: #fff;
  border: none;
  border-bottom: 1px solid #E7E7E7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  padding: $vertical-margin $horizontal-margin;
}

.list-wrapper.mod-add .list-add-controls {
  margin: $vertical-margin $horizontal-margin;
}

.list-wrapper.mod-add.is-idle {
  background: none;
  border-color: transparent;
  box-shadow: none;
  color: #222;

  .list-add-controls {
    margin: 0 15px;
  }
}

.list-wrapper.mod-add.is-idle:hover {
  background: none;
}

.card-label.mod-card-front {
  width: 30px;
}

.card-composer {
  background-color: #F1F1F1;
  padding: 0;

  .cc-controls {
    padding: $vertical-margin $horizontal-margin;
  }
}
