.list-card-title {
  padding-right: 5px;
}

.card-short-id.trello-card-numbers-inline {
  color: #e3e3e3;
  font-size: 11px;
  line-height: 100%;
  position: absolute;
  right: 4px;
  top: 5px;
}

.trello-card-numbers-detail-header {
  font-weight: 400;
  left: -30px;
  position: absolute;
  top: 45px;
}
