.card-short-id.trello-card-numbers-inline {
  color: #d5d5d5;
  float: right;
  font-size: 11px;
  margin-left: 4px;
}

.trello-card-numbers-detail-header {
  font-weight: 400;
  left: -38px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 50px;
}
