.card-short-id.trello-card-numbers-inline {
  color: #d5d5d5;
  font-size: 11px;
  left: -6px;
  line-height: 100%;
  position: absolute;
  top: 1px;
}

.trello-card-numbers-detail-header {
  font-weight: 400;
  left: -30px;
  position: absolute;
  top: 45px;
}
