// Make card badges light, and only textual

.badge {
  padding: 0;
}

.badge {
  &.is-complete,
  &.is-due-now,
  &.is-due-past,
  &.is-due-soon,
  &.is-unread-notification {
    background-color: transparent;
    border-radius: 0;
  }

  &.is-complete,
  &.is-due-now,
  &.is-due-past,
  &.is-due-soon {
    &,
    .badge-icon {
      color: #61BD4F;
    }
  }

  &.is-unread-notification {
    &,
    .badge-icon {
      color: #CF513D;
    }
  }
}
