// Make card cover looks like small thumb with preview on hover

.list-card.is-covered .list-card-cover,
.list-card.is-covered .list-card-cover::after {
  border-radius: 3px;
  box-sizing: border-box;
  height: 30px !important;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  width: 30px;
}

.list-card.is-covered .list-card-cover {
  background-size: contain !important;
  border: 1px solid #E7E7E7;
}

.list-card.is-covered .list-card-cover::before,
.list-card.is-covered .list-card-cover::after {
  background: inherit;
  content: '';
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.075s;
}

.list-card.is-covered .list-card-cover::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.list-card.is-covered .list-card-cover::after {
  background: rgba(0,0,0,0.5);
  border: 1px dashed #E7E7E7;
  left: 0;
  bottom: 0;
}

.list-card.is-covered .list-card-cover:hover::before {
  opacity: 1;
  z-index: 41;
}

.list-card.is-covered .list-card-cover:hover::after {
  opacity: 1;
  z-index: 42;
}

.quick-card-editor .list-card-cover {
  display: none;
}
